@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Publica';
  src: url('./fonts/PublicaPlay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicaSans';
  src: url('./fonts/PublicaSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }