# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build directories
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Dependency directories
bower_components/

# VS Code settings
.vscode/

# React-specific
.DS_Store
coverage/
public/favicon.ico

# Other project files
*.swp
.idea/
*.sublime-project
*.sublime-workspace
